rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Shops are public readonly from frontend
    match /Shops/{document=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
