<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>プリマップ</title>
    <meta name="keywords" content="プリパラ,キラッとプリ☆チャン,ワッチャプリマジ！,pripara,prichan,primagi,地図,マップ,設置筐体,店舗,ショップ">
    <meta name="description" content="プリマップは「ワッチャプリマジ！」「キラッとプリ☆チャン」「プリパラ オールアイドル」の遊べるお店を地図で表示するサイトです。（非公式）">
  </head>
  <body>
    <div class="container mx-auto p-4">
      <h1 class="block text-4xl">プリマップ</h1>
      <div class="block">
        <p class="break-words">
          プリマップは<a class="link text-base" href="https://primagi.jp/">ワッチャプリマジ！</a>、<a class="link text-base" href="https://prichan.jp/">キラッとプリ☆チャン</a>、<a class="link text-base" href="https://pripara.jp/allidol/">プリパラ オールアイドル</a>の遊べるお店を地図で表示するサイトです。（非公式）
        </p>
      </div>
      <div id="root" class="block"></div>

      <h2 class="block text-2xl pt-6">備考</h2>
      <div class="block">
        <ul class="list-disc list-inside">
          <li>
            店舗情報は公式の遊べるお店の一覧を流用しているため、データの間違いがある場合は<a class="link text-base" href="https://www.takaratomy-arts.co.jp/">タカラトミーアーツ様</a>に<a class="link text-base" href="https://www.takaratomy-arts.co.jp/support/contact_mail.html">報告</a>して修正してもらってください。
          </li>
          <li>店舗情報は毎日22時に自動更新されます</li>
        </ul>
      </div>

      <div class="block pt-6">
        <p>その他細かい説明は下記を読んでください</p>

        <ul class="list-disc list-inside">
          <li><a class="link text-base" href="https://sue445.hatenablog.com/entry/2020/10/14/194244">プリマップというプリパラやプリ☆チャンが遊べるお店を探せる地図を作った - くりにっき</a></li>
          <li><a class="link text-base" href="https://sue445.hatenablog.com/entry/2020/12/02/000000">細かすぎて伝わりづらいプリマップの改修ポイント #プリッカソン - くりにっき</a></li>
        </ul>
      </div>

      <footer>
        <p class="break-words pt-6">
          Author:
          <a class="link text-base" href="https://twitter.com/sue445">@sue445</a>
        </p>
        <p class="break-words">
          Repository:
          <a class="link text-base" href="https://github.com/sue445/primap">https://github.com/sue445/primap</a>
        </p>
        <p class="break-words pt-6">
          一部画像は下記よりお借りしているためライセンスはそちらに属します
          <ul>
            <li class="list-disc list-inside">
              <a class="link text-base" href="https://icon-rainbow.com/%e7%8f%be%e5%9c%a8%e5%9c%b0%e3%82%92%e7%a4%ba%e3%81%99%e3%83%9e%e3%83%83%e3%83%97%e3%81%ae%e3%83%94%e3%83%b3%e3%81%ae%e3%82%a2%e3%82%a4%e3%82%b3%e3%83%b3%e7%b4%a0%e6%9d%90-3/">現在地を示すマップのピンのアイコン素材 3 | 商用可の無料(フリー)のアイコン素材をダウンロードできるサイト『icon rainbow』</a>
            </li>
            <li class="list-disc list-inside">
              <a class="link text-base" href="https://icon-rainbow.com/%e3%83%9e%e3%83%83%e3%83%97%e3%83%94%e3%83%b3%e3%81%ae%e3%82%a2%e3%82%a4%e3%82%b3%e3%83%b3%e7%b4%a0%e6%9d%90-3/">マップピンのアイコン素材 3 | 商用可の無料(フリー)のアイコン素材をダウンロードできるサイト『icon rainbow』</a>
            </li>
          </ul>
        </p>
      </footer>
    </div>
  </body>
</html>
