<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>プリマップ</title>
    <meta name="keywords" content="プリパラ,キラッとプリ☆チャン,地図">
    <meta name="description" content="プリマップは「キラッとプリ☆チャン」や「プリパラ オールアイドル」の遊べるお店を地図で表示するサイトです。（非公式）">
  </head>
  <body>
    <div class="container mx-auto p-4">
      <h1 class="block text-4xl">プリマップ</h1>
      <div class="block">
        <p class="break-words">
          プリマップは
          <a class="no-underline hover:underline text-blue-500 text-base" href="https://prichan.jp/">キラッとプリ☆チャン</a>
          や
          <a class="no-underline hover:underline text-blue-500 text-base" href="https://pripara.jp/allidol/">プリパラ オールアイドル</a>
          の遊べるお店を地図で表示するサイトです。（非公式）
        </p>
      </div>
      <div id="root" class="block"></div>
      <footer>
        <p class="break-words">
          Author:
          <a class="no-underline hover:underline text-blue-500 text-base" href="https://twitter.com/sue445">@sue445</a>
        </p>
        <p class="break-words">
          Repository:
          <a class="no-underline hover:underline text-blue-500 text-base" href="https://github.com/sue445/primap">https://github.com/sue445/primap</a>
        </p>
      </footer>
    </div>
  </body>
</html>
